.wraper {
    width: 646px;
    height: 924px;
   margin: 0 auto;
}
.grid{
    display: grid;
    gap: 10px;
    width: 700px;
    height: 500px;
    grid-template-columns:  auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
}

.i1{
    grid-row: span 2;
    grid-column: span 1;
}
.text{
    grid-column: span 3;
    text-align: cente;
}
img {
    width: 100%;
    height: 100%;


    object-fit: cover; 
}
h2{
    text-align: center;
}
